In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [3]:
df = pd.read_csv('https://bit.ly/vintage-auctions')

In [4]:
df.head()

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used

In [5]:
df.tail()

,tx id,time,auction,color,shirt size,condition
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used

In [6]:
df.shape

(1000, 6)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tx id       1000 non-null   object
 1   time        1000 non-null   object
 2   auction     1000 non-null   object
 3   color       977 non-null    object
 4   shirt size  1000 non-null   object
 5   condition   847 non-null    object
dtypes: object(6)
memory usage: 47.0+ KB

In [8]:
df.isna().sum()

tx id           0
time            0
auction         0
color          23
shirt size      0
condition     153
dtype: int64

In [10]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [12]:
for col in df.columns[3:]:
  print(col)
  print(df[col].value_counts(dropna=False))
  print()
  print()

color
Yellow        75
Maroon        59
Violet        57
Khaki         56
Fuscia        55
Aquamarine    55
Turquoise     54
Green         51
Blue          51
Pink          51
Goldenrod     51
Crimson       50
Mauv          50
Red           49
Indigo        49
Orange        49
Purple        45
Teal          37
Puce          33
NaN           23
Name: color, dtype: int64


shirt_size
XS     157
3XL    152
S      149
M      148
XL     141
2XL    129
L      124
Name: shirt_size, dtype: int64


condition
used          561
Never Worn    169
NaN           153
Used           64
never worn     53
Name: condition, dtype: int64

In [14]:
df = df.apply(lambda s: s.str.lower().str.replace(' ', '_'))

In [15]:
df.sample(50)

,tx_id,time,auction,color,shirt_size,condition
746,24cd05a7af867ea51149d0218994847ca001bf93,12:36_am,$10.06,maroon,l,NaN
909,47cfc3000f4fb479ac8c605d67c76c60245c4570,1:33_am,$8.26,violet,xl,used
104,f5295ef798177b95ee36510b88fa92078124467f,3:20_am,$16.90,yellow,3xl,used
193,f0e03e6a2f0db30d557a0c10cc6c66c4313643ec,8:22_pm,$16.85,crimson,m,used
453,30e33017b4fb091c5cc8b8d6200b3beb017dbbba,12:08_pm,$2.30,turquoise,m,used
62,161e09469b88bbfe9a3749cc26fd216baba21289,9:15_pm,$16.19,blue,xs,never_worn
890,8fefa80d06a995d9e2a4ff61d336f9a543dc0293,2:06_pm,$5.68,fuscia,xl,used
520,4b87b90cb15ea4c8725990c7923c491f995fc6bd,3:47_am,$13.84,mauv,m,never_worn
461,f135fce4dac9749f8949781597b8046959d9fd0b,2:36_pm,$2.76,aquamarine,xs,NaN
789,bad823bd4ee20fcc4bfcb9d75ef0d8337be48ffc,10:02_am,$10.72,teal,m,used
813,1b31abf2600babe914f3950820a7af0c49006594,8:19_am,$17.34,khaki,m,used
332,786e40651458f2eef9c5aed0ff863b5c62cdfb49,7:06_am,$8.43,pink,xs,NaN
126,8d239365dd11c35ec618f81da459c54149cba6f8,9:47_am,$4.98,yellow,2xl,never_worn
775,fa26072ecedecd28f6738f2c7e7854625ab7fa19,9:34_am,$5.82,yellow,m,never_worn
705,c87adb45fe7306f42ccafbb16ad9940eede3cc92,1:21_am,$6.75,green,s,never_worn
43,7dcf06f811cac58685c1f2157976c421c5169c09,1:50_pm,$12.66,aquamarine,2xl,used
931,4c95e42ea16db3393aac321f70adbd62522095f5,10:00_pm,$14.52,green,3xl,never_worn
385,cac461dfac3c4b61e2b65820720cff203a9405e4,7:02_am,$7.49,indigo,xl,used
119,76d0c888bf34a0d76191d1aac76444ede0feea63,2:05_am,$13.03,maroon,l,used
637,edfd3708cd247e1e907be7e1374d171637f8d661,9:04_pm,$14.83,pink,2xl,used
397,60cf29668a0bd1ae922247c34f21dd5ae81c5574,8:28_am,$15.70,pink,l,used
212,4c892ee5a84662e3306f936df532752e6b16dc21,2:44_pm,$3.03,indigo,2xl,never_worn
392,fa6ac02cd158bfa525ac25fee4d2b63c4a595caf,1:37_am,$16.26,puce,l,never_worn
184,9eeeccb1d8e1462549ab4710cf6640203fb77c29,2:25_am,$7.67,violet,3xl,never_worn
139,89c0bd3049caa7693ea4a3d33b04c18f3b302f97,1:06_am,$3.82,orange,3xl,used
149,b2786c48a8b47c195bf3d55f4632dd6b88d6c121,5:56_am,$9.25,fuscia,xs,NaN
711,f2852bb19bc48e0ab6517e6dff76faf7ebfcb352,12:13_pm,$9.23,puce,xs,used
554,ce89d90b405227a425e5aa53b68ea7e2c23a5101,1:35_pm,$15.61,purple,m,NaN
536,f42285b404acec362ff41b49048ae04608fa9f94,8:57_am,$18.05,orange,3xl,used
350,5190676946118dae3ee35d809ce4107a4a06e726,11:17_pm,$2.35,green,s,used
411,8e840895448a7c82b9f679831e33154d059ece8d,4:27_pm,$8.36,maroon,3xl,used
866,f2121527dba2a11273df654a49f1812d5b343d63,11:16_pm,$12.90,purple,3xl,used
151,8d96abe66e658dfa82f7513b9a39dbd4e59d4f78,6:42_am,$17.68,green,3xl,used
160,4da77d0e95838e7fa768f7e3c8bdcb7c58f0f8ac,12:07_am,$10.74,crimson,2xl,never_worn
776,dbe03e21365f6692660af9fade9f821f0ecb1a19,3:39_am,$11.01,blue,l,never_worn
856,012762c65a4db12d640116ba5f3ed85b873b477f,6:11_am,$18.02,blue,m,used
55,2742b1da330c4f7f11830d551f0130d74236f1e1,8:24_am,$14.62,mauv,s,used
421,e9a9aa1896ef145c6cf04b2d502e0dd9284b43bd,3:26_pm,$14.51,crimson,xl,NaN
558,01d633cd097bead31687596d41f51356c48e852f,12:48_am,$11.08,crimson,m,used
336,336686259e5b99224266394370e147ddfd824b01,8:47_am,$18.77,puce,2xl,used
935,8548c08341474ae3c8673f174a310c8f0bc09fc3,1:33_am,$15.58,orange,xs,used
31,cedebcdd057263f3f0df920828f9621bc8089c6b,6:14_pm,$17.06,NaN,xs,used
841,d1e1265ebf1bf9f263a63e4f39f8e3b3a3ebd0c6,6:59_am,$10.66,mauv,3xl,used
648,2183d1a178332a2694bbbcca67b06f3a45adec02,9:01_am,$3.27,orange,s,used
339,d7d6949c44c00946a247f21c7f32343b4214480e,2:53_pm,$8.14,indigo,s,NaN
880,e591333232f04bf091d9f62c2bd33231dec03f68,4:55_pm,$14.22,green,2xl,never_worn
110,3be006cd69f9ed68a88352dab26e8edfcb9ebce5,11:56_am,$11.26,crimson,3xl,used
447,738e30f26870d1e79443d606bdd004ec313f2d63,8:18_am,$17.61,khaki,2xl,NaN
545,f90a320f8f13bfe3d87f1a77989a546fe299cde3,1:24_am,$7.23,yellow,s,used
313,45bbe3f0e1fcb2a1c9d0ebd676dda14cfb528951,3:20_am,$15.72,green,3xl,NaN

In [16]:
for col in df.columns[3:]:
  print(col)
  print(df[col].value_counts(dropna=False))
  print()
  print()

color
yellow        75
maroon        59
violet        57
khaki         56
fuscia        55
aquamarine    55
turquoise     54
green         51
blue          51
pink          51
goldenrod     51
crimson       50
mauv          50
red           49
indigo        49
orange        49
purple        45
teal          37
puce          33
NaN           23
Name: color, dtype: int64


shirt_size
xs     157
3xl    152
s      149
m      148
xl     141
2xl    129
l      124
Name: shirt_size, dtype: int64


condition
used          625
never_worn    222
NaN           153
Name: condition, dtype: int64